<div>
    <div class="row" style="padding-top:150px;text-align:center">
        <div class="col-sm-4 col-md-4 col-lg-4">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <div style="border-style: solid;border-radius:10px;padding:10%">
            <div>Payment Successfully done</div>
            
            <div id="custdata"></div>
        </div>
        </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
        </div>
    
    </div>
</div>
