
<div class="container">
    <div class="row">
        <div class="col-xs-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6"  id="cardbox" >
        	<form class="form-signin form-signup" role="form">
        	 <h4 style="text-align:center;">
                            Payment Details
                            <br>
                        </h4>
                        <div class="row" id="amountid">
                             <div>Amount:$</div><div id="amount"></div>
                             <input type="hidden" id="transaction">
                        </div>
                <div class="panel panel-default">
                      
                        
                    <div class="panel-body">
                        <form role="form">
                         
                            <div class="form-group">
                                <div class="row">
                                     <div class="col-xs-11 col-md-11 col-ls-11">
                                
                                        <label for="cardNumber">
                                            CARD NUMBER</label>
                                        <div class="input-group">
                                            <input type="text" id="cardNumber"
                                                class="form-control" placeholder="{{ _("Valid Card Number") }}" required autofocus>
                            
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        <div class="row">
                            
                            <div class="col-xs-5 col-md-5 col-ls-5">
                                <div class="form-group">
                                        <label for="expiry">EXPIRY DATE</label>
                                        <input type="text" class="form-control" id="expiryMonth" placeholder="{{ _("MMYY") }}" required />
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1 col-ls-1"></div>
                            <div class="col-xs-5 col-md-5 col-ls-5 ">
                                <div class="form-group">
                                    <label for="cvvCode">
                                        CVV CODE</label>
                                    <input type="text" class="form-control" id="cvvCode" placeholder="{{ _("CVV") }}" required />
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
<br/>
                <button class="btn btn-success btn-lg btn-block" type="submit" id="carddata">{{ _("Pay ") }}</button>
            
            </form>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3">
        </div>
    </div>
</div>




<script>
frappe.ready(() => {
	
});
var url_string = window.location;
var url = new URL(url_string);
var amount_pay = url.searchParams.get("amount");
document.getElementById("amount").innerHTML = amount_pay;
amountpay=document.getElementById("amount").innerHTML = amount_pay;
var salesinvoice = url.searchParams.get("tranid");
document.getElementById("transaction").innerHTML = salesinvoice;
salesidval=document.getElementById("transaction").innerHTML = salesinvoice;
document.querySelector("#carddata").addEventListener('click',
(e)=>{

    var cardNumber=document.getElementById("cardNumber").value;  
    var expiryMonth=document.getElementById("expiryMonth").value;
    var cvvCode=document.getElementById("cvvCode").value;  
    var amount=amountpay
    var salesid=salesidval
         frappe.call({
                method: "converge_payment.utils.payment.converge_payment",
                args: {
                    cardNumber:cardNumber,
                    expiryMonth:expiryMonth,
                    cvvCode:cvvCode,
                    amount:amount,
                    salesid:salesid,
                },
                callback: function (Response) {
                    console.log(Response.message)
                    if(Response.message=='card')
                    {
                        frappe.throw(__('Invalid Card'))

                    }
                    else if(Response.message=='expiry'){
                        frappe.throw(__('Invalid Expiry Date'))
                    }
                    else if(Response.message=='cvv'){
                        frappe.throw(__('Invalid CVV'))
                    }
                    else if(Response.message=='APPROVAL'){
                        frappe.msgprint("Payment Is Successfully Done")

                        location.replace("/payconvergesuccess")

                    }
                    else
                    {
                         frappe.throw(__("Some error"))
                    }

                }
            })


    
})

</script>
<style>
#cardNumber{
      border-radius: 50px;

}
#cardbox{
      border: 2px solid;padding-bottom:5%;
          border-radius: 50px;

}
#carddata{
    display:inline;
}
#amountid{
    margin-left:10px;
}
</style>